* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 700px;
  height: 300px;
  border-radius: 6px;
  border: 3px solid rgb(0, 255, 179);
  background-color: rgb(0, 0, 0);
}


.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  width: 50%;
  height: 70px;
  border-radius: 6px;
  background-color: rgb(0, 255, 179);
}



.row-one {
  display: flex;
  
}

.row-two {
  display: flex;
  
}

.row-three {
  display: flex;
  
}

h1 {
  font-size: 4em;
}
