* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#drum-machine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
  height: 300px;
  border-radius: 6px;
  border: 3px solid rgb(0, 255, 179);
  background-color: rgb(0, 0, 0);
}

.pad-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: pink;
}

.drum-pad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin: 0 15px 0 15px;
  background-color: rgb(0, 255, 179);
}

.ctrl-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: green;
}

.switch-wrap {
  width: 20%;
  height: 20px;
  background-color: white;
}

.switch {
  height: 100%;
  width: 50%;
  background-color: brown;
}

.sound-wrap {
  background-color: brown;
}

.bank-wrap {
  width: 20%;
  height: 20px;
  background-color: white;
}

.bank {
  height: 100%;
  width: 50%;
  background-color: brown;
}

h1 {
  font-size: 2em;
  color: white;
}
